<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/usuario/style_nova_conta.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />


	<title>Macros Xtreme</title>
</head>

<body>
	<main id="container">
		<form method="POST" th:action="@{/api/usuario/cadastrar}" th:object="${usuario}">
			<!-- INPUTS -->
			<div id="inputs">
				<div class="input-box">
					<label for="nome">
						Nome
						<div class="input-field">
							<i class="fa-solid fa-user"></i>
							<input type="text" id="nome" th:field="*{nome}" required>
						</div>
					</label>
				</div>
				<div class="input-box">
					<label for="usuario">
						Usuario
						<div class="input-field">
							<i class="fa-solid fa-user"></i>
							<input type="text" id="usuario" th:field="*{usuario}" required>
						</div>
					</label>
				</div>
				<div class="input-box">
					<label for="email">
						E-mail
						<div class="input-field">
							<i class="fa-solid fa-envelope"></i>
							<input type="email" id="email" th:field="*{email}" required>
						</div>
					</label>
				</div>
				<div class="input-box">
					<label for="senha">
						Senha
						<div class="input-field">
							<i class="fa-solid fa-key"></i>
							<input type="password" id="senha" th:field="*{senha}" required>
						</div>
					</label>
				</div>
				<div th:if="${msg != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
					<a th:if="${msg == 'emailCadastrado'}">Email já cadastrado.</a>
					<a th:if="${msg == 'usuarioCadastrado'}">Usuario já cadastrado.</a>
					<a th:href="@{/api/usuario/cadastrar}" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
				</div>
			<div class="text-center">
				<button class="btn btn-primary" type="submit">Criar</button>
			</div>
			<a th:href="@{/api/usuario/autenticacao}" id="cancelar_button">
				Cancelar
			</a>
		</form>
	</main>

</body>

</html>