<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<title>Macros Xtreme</title>

</head>

<body id="body">
	<div class="container">
		<div class="conteudo">
			<form id="form" method="POST" th:action="result" th:object="${user}">
				<div id="header">
					<header>
						<a id="logo">Macros Xtreme</a>
					</header>
				</div>
				<div class="card-body">
					<fieldset>
						<legend>Macros Xtreme</legend>
						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<select name="genero" class="form-select me-2" aria-label="Default select example">
										<option selected disabled>Gênero</option>
										<option th:each="genero : ${genero}" 
										th:text="${genero}"></option>
									</select><br>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="idade" class="form-control" placeholder="Idade" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="altura" class="form-control"
										placeholder="Altura"><br>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
									<input type="text" name="peso" class="form-control" placeholder="Peso">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
										<select name="objetivo" class="form-select me-2" aria-label="Default select example">
										<option selected disabled>Objetivo</option>
										<option th:each="obj : ${obj}" 
										th:text="${obj}"></option>
									</select>
								</div>
							</div>
							<div class="col-md-6 col-sm-12">
								<div class="form-group">
										<select name="nivelAtividadeFisica" class="form-select me-2" aria-label="Default select example">
										<option selected disabled>Nivel de Atividade Fisica</option>
										<option th:each="nivelA : ${nivelA}" 
										th:text="${nivelA}"></option>
									</select>
								</div>
							</div>
						</div>
					</fieldset>
					<div id="div">
						<button id="btn" type="submit" class="btn">Calcular</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>