<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style-global.css}">
	<title>Macros Xtreme</title>

</head>

<body>
	<div class="box">
		<form action="">
			<fieldset>
				<legend><b>Macros Xtreme</b></legend>
				<br>
				<select name="genero" id="genero" class="form-select me-2" aria-label="Default select example">
					<option selected disabled>Gênero</option>
					<option th:each="genero : ${genero}" th:text="${genero}"></option>
				</select><br><br>
				<div class="inputBox">
					<input type="text" name="idade" id="idade" class="inputUser" required>
					<label for="idade" class="labelInput">Idade</label>
				</div>
				<br><br>
				<div class="inputBox">
					<input type="text" name="peso" id="peso" class="inputUser" required>
					<label for="peso" class="labelInput">Peso</label>
				</div>
				<br><br>
				<div class="inputBox">
					<input type="tel" name="altura" id="altura" class="inputUser" required>
					<label for="altura" class="labelInput">Altura</label>
				</div>
				<br><br>
				<label for="data_nascimento"><b>Data de Nascimento:</b></label>
				<input type="date" name="data_nascimento" id="data_nascimento" required>
				<br><br><br>
				<select name="nivelAtividadeFisica" id="nivelAtividadeFisica" class="form-select me-2" aria-label="Default select example">
					<option selected disabled>Nivel de Atividade Fisica</option>
					<option th:each="nivelA : ${nivelA}" th:text="${nivelA}"></option>
				</select>
				<div class="inputBox">
					<input type="text" name="cidade" id="cidade" class="inputUser" required>
					<label for="cidade" class="labelInput">Cidade</label>
				</div>
				<br><br>
				<div class="inputBox">
					<input type="text" name="estado" id="estado" class="inputUser" required>
					<label for="estado" class="labelInput">Estado</label>
				</div>
				<br><br>
				<div class="inputBox">

				</div>
				<br><br>
				<input type="submit" name="submit" id="submit">
			</fieldset>
		</form>
	</div>
</body>

</html>