<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/style-global.css}">

	<title>Macros Xtreme</title>
</head>

<body>
	<main id="container">
		<div id="login_form">
			<!-- FORM HEADER -->
			<div id="form_header">
				<h2>Macros Xtreme</h2>
				<h3>Result</h3>
			</div>

			<div id="check">
				<!-- GÊNERO -->
				<div class="input-box">
					<div class="info-basic">
					<p th:text="'Taxa Metabólica Basal (TMB): ' + ${tmb} + ' kcal'"></p>
					<p th:text="'Gasto Calórico Total: ' + ${gastoT} + ' kcal'"></p>
					</div><br>
					<div class="info-kcal">
					<p th:text=" 'Meta de Calórias em dias de Treino: ' + ${objT} + ' kcal'"></p>
					<p th:text=" 'Meta de Calórias em dias de Descanso: ' + ${objOff} + ' kcal'"></p>
					</div><br>
					<div class="info-macros">
					<label for="macros">Macros</label>
					<p th:text=" 'Proteina: ' + ${macros[0]} + 'g'"></p>
					<p th:text=" 'Carboidrato: ' + ${macros[1]} + 'g'">:</p>
					<p th:text=" 'Gordura: ' + ${macros[2]} + 'g'">:</p>
					<p th:text=" 'Fibras: ' + ${macros[3]} + 'g'">:</p>
					</div>
				</div>
			</div>

			<!-- INPUTS -->
			<div id="inputs">
				<!-- IDADE -->
				<div class="input-box">
					<input type="text" name="idade" id="idade" class="inputUser" required>
					<label for="endereco" class="labelInput">Idade</label>
				</div>

				<!-- PESO -->
				<div class="input-box">
					<input type="text" name="peso" id="peso" class="inputUser" required>
					<label for="peso" class="labelInput">Peso</label>
				</div>

				<!-- ALTURA -->
				<div class="input-box">
					<input type="text" name="altura" id="altura" class="inputUser" required>
					<label for="altura" class="labelInput">Altura</label>
				</div>
			</div>

			<!-- NIVEL DE ATIVIDADE FISICA -->
			<div class="input-box" id="atividadeFisica">
				<div class="col-md-6 col-sm-12">
					<div class="form-group">
						<select name="nivelAtividadeFisica" id="selectAtividade" class="form-select me-2"
							aria-label="Default select example">
							<option selected disabled>Nivel de Atividade Fisica</option>
							<option th:each="nivelA : ${nivelA}" th:text="${nivelA}"></option>
						</select>
					</div>
				</div>
			</div>

			<!-- LOGIN BUTTON -->
			<a th:href="@{/calculo/form}" id="login_button">
				Voltar
			</a>
		</div>
	</main>

	<!-- JAVASCRIPT -->
	<script type="text/javascript" src="js/bootstrap.min.js.js"></script>
</body>

</html>