<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/calculador/style_form.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style_nav.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<title>Macros Xtreme</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<main id="container">

		<form id="login_form" method="POST" th:action="@{/api/calculador/macros}" th:object="${usuarioFreeDTO}">
			<div id="check">
				<!-- GÊNERO -->
				<div class="input-boxx">
					<label for="genero">Genero</label>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{genero}" th:value="Masculino" id="masculino"
							required>
						<label class="form-check-label" for="masculino" id="masculino">Homem</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{genero}" th:value="Feminino" id="feminino"
							required>
						<label class="form-check-label" for="feminino" id="feminino">Mulher</label>
					</div>
				</div>

				<div class="input-boxx">
					<!-- OBJETIVO -->
					<label for="name">Objetivo</label>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="emagrecimento" th:field="*{objetivo}"
							th:value="Emagrecimento" id="emagrecimento" required>
						<label class="form-check-label" for="emagrecimento" id="emagrecimento">Emagrecimento</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="ganho" th:field="*{objetivo}"
							th:value="Ganho" id="buking" required>
						<label ass="form-check-label" for="ganho" id="ganho">Ganho de Massa</label>
					</div>
				</div>
			</div>

			<!-- INPUTS -->
			<div id="inputs">
				<!-- IDADE -->
				<div class="input-box">
					<label for="idade" class="labelInput">Idade</label>
					<input type="text" name="idade" id="idade" class="inputUser" required>
				</div>

				<!-- PESO -->
				<div class="input-box">
					<label for="peso" class="labelInput">Peso</label>
					<input type="text" name="peso" id="peso" class="inputUser" required>

				</div>

				<!-- ALTURA -->
				<div class="input-box">
					<label for="altura" class="labelInput">Altura</label>
					<input type="text" name="altura" id="altura" class="inputUser" required>
				</div>
			</div>
			
			<div id="check">
				<!-- NIVEL DE ATIVIDADE FISICA -->
				<div class="input-boxx">
					<label for="nivelAtividadeFisica">NIVEL DE ATIVIDADE FISICA</label>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{nivelAtividadeFisica}" th:value="nivel1" id="nivel1"
							required>
						<label class="form-check-label" for="nivel1" id="nivel1">Sedentário (Exercicio minimo)</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{nivelAtividadeFisica}" th:value="nivel2" id="nivel2"
							required>
						<label class="form-check-label" for="nivel2" id="nivel2">Exercicio Leve (1-3 dias por semana)</label>
					</div>
										<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{nivelAtividadeFisica}" th:value="nivel3" id="nivel3"
							required>
						<label class="form-check-label" for="nivel3" id="nivel3">Exercicio Moderado (3-5 dias por semana)</label>
					</div>
										<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{nivelAtividadeFisica}" th:value="nivel4" id="nivel4"
							required>
						<label class="form-check-label" for="nivel4" id="nivel4">Exercicio Intenso (6-7 dias por semana)</label>
					</div>
										<div class="form-check">
						<input class="form-check-input" type="radio" th:field="*{nivelAtividadeFisica}" th:value="nivel5" id="nivel5"
							required>
						<label class="form-check-label" for="nivel5" id="nivel5">Exercicio Muito Intenso (Atleta, 2x por dia)</label>
					</div>
				</div>
			</div>

			<!-- CALCULAR BUTTON -->
			<div class="buttons">
				<button type="submit" id="login_button">Calcular</button>
			</div>
		</form>
	</main>
</body>

</html>