<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style_nav.css}">

	<title>Historico de Emails</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<div class="container">
		<h2>Informações Nutricionais do Paciente</h2>
		<div class="d-flex">
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Informações Basicas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-secondary" th:text="'IMC: ' + ' ' + ${imc}"></td>
						</tr>
						<tr>
							<td class="table-secondary"
								th:text="'Taxa Metabolica Basal (TMB): ' + ' ' + ${tmb} + ' kcal'"></td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Gasto Calorico Total: ' + ' ' + ${gastoT} + ' kcal'">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="d-flex">
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Macros - Treino</th>
							<th scope="col">Macros - Descanso</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-secondary" th:text="'Proteina: ' + ' ' + ${macrosT[0]} + 'g'"></td>
							<td class="table-secondary" th:text="'Proteina: ' + ' ' + ${macrosOff[0]} + 'g'"></td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Carboidrato: ' + ' ' + ${macrosT[1]} + 'g'"></td>
							<td class="table-secondary" th:text="'Carboidrato: ' + ' ' + ${macrosOff[1]} + 'g'"></td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Gordura: ' + ' ' + ${macrosT[2]} + 'g'"></td>
							<td class="table-secondary" th:text="'Gordura: ' + ' ' + ${macrosOff[2]} + 'g'"></td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Fibras: ' + ' ' + ${macrosT[3]} + 'g'"></td>
							<td class="table-secondary" th:text="'Fibras: ' + ' ' + ${macrosOff[3]} + 'g'"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Metas de Calorias</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-secondary" th:text="'Dias de Treino: ' + ' ' + ${objT} + ' kcal'"></td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Dias de Descanso: ' + ' ' + ${objOff} + ' kcal'"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div>
</body>

</html>