@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/** Variables - colors **/
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    
    --color-orage: #da580c;
    --color-back: #EEE;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
	width: 100%;
	background: var(--color-back);
    border-radius: 2px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);

}

.menu a{
    color: var(--color-dark-900);
    text-decoration: none;
    font-size: 18px;
    padding-right: 30px;
    padding-bottom: 8px;
    position: relative;
    left: 30px;
}

.menu a::after{
    content: " ";
    width: 0px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.menu a:hover::after{
    width: 30px;
}

.menu a:hover{
    color: var(--color-orage);
    transform: scale(1.2);
}


