@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/** Variables - colors **/
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    
        /* Blue */
    --color-blue-50: #36a9e1;
    --color-blue-100: #195488;

    /* Gradient */
    --color-gradient: linear-gradient(90deg, var(--color-blue-50), var(--color-blue-100));
}

/* General */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gradient);
}

#login_form {
    display: flex;
    height: fit-content;
    flex-direction: column;
    background-color: var(--color-light-50);
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* Form Header */
#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 40%;
    height: 3px;
    color: var(--color-dark-900);
    bottom: 10px;
    border-radius: 5px;
}

#form_header img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45px;
}

#mode_icon {
    cursor: pointer;
    font-size: 30px;
    color: var(--color-dark-900);
}

#mode_icon:hover {
    transform: scale(1.05);
}

#check{
	display: flex;
    flex-direction: row;
    gap: 40%;
    padding-left: 20px;
}

/* Inputs */
#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.input-box{
	position: relative;
}

.inputUser{
	background: none;
	border: none;
	border-bottom: 1px solid var(--color-blue-50);
	outline: none;
	color: black;
	font-size: 15px;
	width: 100px;
	letter-spacing: 2px;
}

.labelInput{
	position: absolute;
	top: 0px;
	left: 0px;
	pointer-events: none;
	transition: .5s;
    font-size: 14px;
    color: var(--color-dark-50);
        }
        
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
	top: -20px;
	font-size: 12px;
	color: dodgerblue;
}
        
#atividadeFisica{
    display: flex;
    align-items: center;
    justify-content: center;
}

#selectAtividade{
	border-radius: 10px;
	font-size: 14px;
	padding: 5px;
	
}

/* Login Button */
#login_button {
    background: var(--color-gradient);
    padding: 7px;
    border-radius: 10px;
    color: var(--color-light-50);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#login_button:hover {
    transform: scale(1.05);
}
