
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    --color-orage: #da580c;
    --color-back: #EEE;   
}

body {
    background: var(--color-back);
}
