<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="/css/style_forgot.css">
	<title>Your Website</title>
</head>

<body>

	<form onsubmit="return submitForm(this);">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
			<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


	<script type="text/javascript" src="/js/login/script.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>