<!DOCTYPE html>
<html lang="pt-br">

<head>
	<script src="https://kit.fontawesome.com/6dda5f6271.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments/style_nav.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


	<title>Macros Xtreme</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<main>
		<div class="col d-flex justify-content-center">
			<h1>BEM VINDO</h1>
		</div>
		<div id="container">

		</div>
		<main>
</body>

</html>