<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login/style_login.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style_nav.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<title>Macros Xtreme</title>
</head>

<body>
	<main id="container">
		<form method="POST" th:action="login" th:object="${UsuarioDTO}">

			<!-- INPUTS -->
			<div id="inputs">

				<!-- EMAIL -->
				<div class="input-box">
					<label for="email">
						E-mail
						<div class="input-field">
							<i class="fa-solid fa-envelope"></i>
							<input type="email" name="email" required>
						</div>
					</label>
				</div>

				<!-- PASSWORD -->
				<div class="input-box">
					<label for="password">
						Password
						<div class="input-field">
							<i class="fa-solid fa-key"></i>
							<input type="password" name="password" required>
						</div>
					</label>

					<!-- FORGOT PASSWORD -->
					<div id="forgot_password">
						<a th:href="@{/api/recupera/senha}">
							Esqueceu sua senha?
						</a>
						<a th:href="@{/api/criar}">
							Criar Conta
						</a>
					</div>

					<div th:if="${erro != null}" th:text="${erro}" id="erro" class="alert alert-danger" role="alert">
					</div>

				</div>
			</div>

			<div class="buttons">
				<!-- LOGIN BUTTON -->
				<button type="submit" id="login_button">
					Entrar
				</button>
			</div>
			<!-- SOCIAL MEDIA LINKS -->
			<div id="social_media">
				<!-- LINKEDIN -->
				<a href="https://www.linkedin.com/in/alessandro-nobre-1a576215b/" target="_blank">
					<i class="fa-brands fa-linkedin"></i>
				</a>

				<!-- YOUTUBE -->
				<a href="https://www.youtube.com/channel/UCOKd531dsb_CD6G8zyWNIIA" target="_blank">
					<i class="fa-brands fa-youtube"></i>
				</a>

				<!-- GITHUB -->
				<a href="https://github.com/alessandronobre" target="_blank">
					<i class="fa-brands fa-github"></i>
				</a>
			</div>
		</form>
	</main>

</body>

</html>