<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login/popup.css}">


	<title>Macros Xtreme</title>
</head>

<body>
	<main id="container">
		<div>

			<div id="header">
				<img src="/img/logo.png" alt="">
				<h2>Macros Xtreme</h2>
			</div>

			<div id="msg">
				<h3 th:text="${popup}"></h3>
				<a th:href="@{/login}" id="button">Acessar conta</a>
			</div>

		</div>
	</main>

</body>

</html>