<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login/style_forgot.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style_nav.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />


	<title>Macros Xtreme</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<main id="container">
		<form method="POST" th:action="@{/api/recupera/senha}">
			<!-- FORM HEADER -->
			<div id="form_header">
				<img src="/img/logo.png" alt="">
				<h2>Macros Xtreme</h2>
			</div>

			<!-- INPUTS -->
			<div id="inputs">

				<!-- EMAIL -->
				<div class="input-box">
					<label for="email">
						E-mail
						<div class="input-field">
							<i class="fa-solid fa-envelope"></i>
							<input type="email" id="email" name="email" required>
						</div>
					</label>
				</div>
				<div th:if="${invalidEmail != null}" th:text="${invalidEmail}" id="erro" class="alert alert-danger" role="alert"></div>
			</div>

			<!-- LOGIN BUTTON -->
			<div class="buttons">
				<button type="submit">
					Enviar
				</button>
			</div>
		</form>
	</main>

</body>

</html>