<!DOCTYPE html>
<html lang="pt-br">

<head>
	<script src="https://kit.fontawesome.com/6dda5f6271.js" crossorigin="anonymous"></script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments/style_nav.css}">

	<title>Menu personalizado</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<main>
		<h1>BEM VINDO</h1>
		<div id="container">
			<div class="info-basic">
				<a th:href="@{/api/historico/email}">TESTE</a>
				<a th:href="@{/css/style.css}">TESTE</a>
				<a th:href="@{/css/style.css}">TESTE</a>
				<a th:href="@{/css/style.css}">TESTE</a>
				<a th:href="@{/css/style.css}">TESTE</a>
			</div><br>
		</div>
		<main>
</body>

</html>