<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments/style_nav.css}">

	<title>Historico de Emails</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<div class="container" th:if="${lista.isEmpty}">
		<h2>Você ainda não possui histórico de emails</h2>
	</div>
	<div class="container" id="main" th:if="${!lista.isEmpty}">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Titulo</th>
					<th scope="col">Conteudo</th>
					<th scope="col">Data do Envio</th>
					<th scope="col">Destinatario</th>
					<th scope="col">cod_usuario</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lista : ${lista}">
					<td th:text="${lista.tituloEmail}" class="table-secondary"></td>
					<td th:text="${lista.conteudo}" class="table-secondary"></td>
					<td th:text="${lista.dataEnvio}" class="table-secondary"></td>
					<td th:text="${lista.destinatario}" class="table-secondary"></td>
					<td th:text="${lista.usuario.id}" class="table-secondary"></td>
				</tr>
			</tbody>
		</table>
		<div>
</body>

</html>