@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/** Variables - colors **/
:root {
    /* Light */
    --color-light-50: #f8fafc;

    /* Dark */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;
    
    --color-orage: #da580c;
    --color-back: #EEE;
}

/* General */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background: var(--color-back);
}

#container{
	height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-back);

}

form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--color-light-50);
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* Inputs */
#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box>label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--color-dark-50);
    cursor: text;
}

.input-field i {
    font-size: 18px;
    cursor: text;
    color: var(--color-dark-50);
}

.input-field input {
    border: none;
    width: 260px;
    background-color: transparent;
    font-size: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}

#erro{
	display: flex;
    align-items: center;
    justify-content: center;
	color: red;
}

#cancelar_button {
	text-decoration: none;
    color: var(--color-dark-900);
    font-size: 15px;
    cursor: pointer;
}

#cancelar_button:hover {
	color: blue;
    transform: scale(1.01);
}