<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">

	<title>MacrosXtreme</title>
	<style>
		body {
			margin-left: 20px;
			background-color: rgb(201, 224, 250);;
		}

		h1,
		h2 {
			text-align: center;
			text-decoration: underline;
			color: #333;
		}

		h3 {
			text-decoration: underline;
		}

		p {
			font-size: 20px;
			color: #333;
		}

		th {
			text-align: center;
			font-size: 20px;
			color: #333;
		}

		div {
			text-align: center;
		}

		table {
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<h1>Macros Xtreme</h1>

	<h2 th:text="'Paciente: ' + ' ' + ${macros.paciente.nome}"></h2><br>

	<h3>Percentual de Gordura (IMC):</h3>
	<p th:text="${macros.imc}"></p>


	<h3>Gasto Energetico:</h3>
	<p th:text="'Taxa Metabolica Basal (TMB): ' + ' ' + ${macros.tmb} + ' kcal'"></p>
	<p th:text="'Gasto Calorico Total: ' + ' ' + ${macros.gastoCaloricoTotal} + ' kcal'"></p>

	<h3>Metas de Calorias:</h3>
	<p th:text="'Dias de Treino: ' + ' ' + ${macros.caloriasTreino} + ' kcal'"></p>
	<p th:text="'Dias de Descanso: ' + ' ' + ${macros.caloriasDescanso} + ' kcal'"></p><br>

	<div>
		<h3>Macros de Treino:</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Proteina</th>
					<th>Carboidrato</th>
					<th>Gordura</th>
					<th>Fibra</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${macros.proteinaTreino}"></td>
					<td th:text="${macros.carboidratoTreino}"></td>
					<td th:text="${macros.gorduraTreino}"></td>
					<td th:text="${macros.fibraTreino}"></td>
				</tr>
			</tbody>
		</table><br><br>

		<h3>Macros de Descanso:</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Proteina</th>
					<th>Carboidrato</th>
					<th>Gordura</th>
					<th>Fibra</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${macros.proteinaDescanso}"></td>
					<td th:text="${macros.carboidratoDescanso}"></td>
					<td th:text="${macros.gorduraDescanso}"></td>
					<td th:text="${macros.fibraDescanso}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>