<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/fragments/style_nav.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/macros/style_macros.css}">

	<title>Macros</title>
</head>

<body>
	<nav th:replace="~{/fragments/_navbar :: nav}"></nav>
	<div class="container" th:if="${macros.dataCalculo == null}">
		<h2>Você ainda não possui informações nutricionais para esse Paciente</h2>
	</div>
	<div class="container" th:if="${macros.dataCalculo != null}">
		<h2>Informações Nutricionais do Paciente</h2>

		<div class="d-flex">
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Informações Basicas</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-secondary" th:text="'IMC: ' + ' ' + ${macros.imc}"></td>
						</tr>
						<tr>
							<td class="table-secondary"
								th:text="'Taxa Metabolica Basal (TMB): ' + ' ' + ${macros.tmb} + ' kcal'"></td>
						</tr>
						<tr>
							<td class="table-secondary"
								th:text="'Gasto Calorico Total: ' + ' ' + ${macros.gastoCaloricoTotal} + ' kcal'">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="d-flex">
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Macros - Treino</th>
							<th scope="col">Macros - Descanso</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-secondary" th:text="'Proteina: ' + ' ' + ${macros.proteinaTreino} + 'g'">
							</td>
							<td class="table-secondary" th:text="'Proteina: ' + ' ' + ${macros.proteinaDescanso} + 'g'">
							</td>
						</tr>
						<tr>
							<td class="table-secondary"
								th:text="'Carboidrato: ' + ' ' + ${macros.carboidratoTreino} + 'g'"></td>
							<td class="table-secondary"
								th:text="'Carboidrato: ' + ' ' + ${macros.carboidratoDescanso} + 'g'"></td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Gordura: ' + ' ' + ${macros.gorduraTreino} + 'g'">
							</td>
							<td class="table-secondary" th:text="'Gordura: ' + ' ' + ${macros.gorduraDescanso} + 'g'">
							</td>
						</tr>
						<tr>
							<td class="table-secondary" th:text="'Fibras: ' + ' ' + ${macros.fibraTreino} + 'g'"></td>
							<td class="table-secondary" th:text="'Fibras: ' + ' ' + ${macros.fibraDescanso} + 'g'"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Metas de Calorias</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="table-secondary"
								th:text="'Dias de Treino: ' + ' ' + ${macros.caloriasTreino} + ' kcal'"></td>
						</tr>
						<tr>
							<td class="table-secondary"
								th:text="'Dias de Descanso: ' + ' ' + ${macros.caloriasDescanso} + ' kcal'"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- ALERTAS -->
		<div class="alert alert-success" role="alert" th:if="${status != null && status == 200}">
			<a th:text="${msg}"></a>
		</div>
		<div class="alert alert-danger" role="alert" th:if="${status != null && status == 503}">
			<a th:text="${msg}"></a>
		</div>
		<div class="alert alert-danger" role="alert" th:if="${status != null && status == 500}">
			<a th:text="${msg}"></a>
		</div>

		<a type="button" class="btn btn-outline-secondary"
			th:href="@{/api/download/macros(pacienteId=${macros.paciente.id})}">Download</a>
		<a type="button" class="btn btn-outline-secondary"
			th:href="@{/api/enviar/macros(pacienteId=${macros.paciente.id}, macrosId=${macros.id})}">Enviar por
			email</a>
		<div>
</body>

</html>